<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Sign up Widget -->
      <div class="card my-4">
        <h5 class="card-header">Sign Up</h5>
        <div class="card-body">
          <div class="input-group">

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <%= flash[:recaptcha_error] %>

                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>

                <div class="field">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>

                <div class="field">
                  <br />
                  <%= f.radio_button(:role, :donor, checked: true) %> Donor
                  <%= f.radio_button(:role, :organization) %> Organization
                </div>

                <%= recaptcha_tags %>

                <div class="actions">
                  <br />
                  <%= f.submit "Sign up", {:class => "btn btn-primary"} %>
                </div>
              <% end %>
          </div>
          </div>
        </div> <!-- Sign up widget -->
      </div> <!-- Column -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->