<% if user_signed_in?  && @donor.user_id == current_user.id %>
<div class="container">
  <div class="row">
  <h1> Donor homepage</h1>

  <div class="col-md-12">
  	 <!-- Sidebar Widgets Column -->
      <div class="card my-4">
        <h5 class="card-header">Welcome, <%=@donor.name%></h5>
        <div class="card-body">
          <div class="input-group">
			<table class="table">
    				<thead>
    				<tr>
    					<th scope="col">#</th>
    					<th scope="col">OrgName</th>
    					<th scope="col">Amount</th>
    					<th scope="col">Edit</th>
    					<th scope="col">Delete</th>
    				</tr>
    				</thead>

            <tbody>
                    <% i = 1%>
    				<% @donor.payments.each do |payment|%>
    				<tr>
    					 <th scope="row"><%= i %></th>
    					 <td><%= link_to payment.organization.name, org_profile_path(payment.organization, :donor => @donor) %></td>
    					 <td>$<%= payment.amount %></td>
    					 <td><%= link_to 'Edit', edit_payment_path(payment)%></td>
                         <td><%= link_to 'Delete', payment_path(payment), method: :delete%></td>
                         <%i = i + 1%>
    				</tr>
    				<% end %>
    				<tr>
    					 <th scope="row"></th>
    					 <td>Total Amount</td>
    					 <td>$<%= @donor.payments.sum(:amount)%></td>
    					 <td></td>
    					 <td></td>
    				</tr>
    				</tbody>
            </table>
         </div>
         </div>
         </div>
    </div>

    <!-- Suggested Organizations Entries Column -->
    <div class="col-md-12">

      <h2 class="my-4">Suggested organizations based on your tags</h2>

      <% if @tag != nil%>
        <% @donor.tags.each do |t|%>
          <% t.organizations.each do |o|%>
            <div class="card mb-4">
              <div class="card-body">
                <h2 class="card-title"><%= o.name %></h2>
                <p class="card-text"><%= o.about %></p>
                <%= link_to 'Organization Profile', org_profile_path(o, :donor => @donor), {:class => "btn btn-primary"}%> &rarr;
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

    </div>
    
   
  </div> <!-- /.row -->
</div> <!-- /.container -->
<% end %>