
<script type="text/javascript">
      $(document).ready(function(){
        var startYear = new Date();
        startYear.setFullYear(startYear.getFullYear() - 100);
        var endYear = new Date();
        endYear.setFullYear(endYear.getFullYear() - 18);
        $('.datepicker').datepicker({
           autoclose:true,
           startDate: startYear,
           endDate: endYear
        });
      });
      </script>

<% if user_signed_in? %>
<div class="container">

  <div class="row">

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Login Widget -->
      <div class="card my-4">
        <h5 class="card-header">Edit Profile</h5>
        <div class="card-body">
          <div class="input-group">
            <% if @donor.errors.any?%>
                <div style="background-color: #FF0000">
                <p>
                Please fix the following errors:
                </p>
                <ul>
                <% @donor.errors.full_messages.each do |message|%>
                  <li><%= message%></li>
                  <% end %>
                </ul>
                </div>
                  
            <% end%>
          
            <%= form_for @donor do |d|%>
              <p>
              <strong>Name:</strong><br>
              <%= d.text_field :name, placeholder: 'Enter Name'%>
              </p>

              <p>
              <strong>Address:</strong><br>
              <%= d.text_field :address, placeholder: 'Enter Address'%>
              </p>

              <p>
              <strong>DOB:</strong><br>
              <%= d.text_field :dob, class:"datepicker", placeholder: 'MM/dd/YYYY'%>
              </p>

              <p>
              <%= fields_for (@donor_tag) do |dt|%>
                <strong><%= dt.label "Tags:" %></strong><br>
              <%= collection_select(:tags, :id, @all_tags, :id, :name, {:selected => @selected_tags.collect {|tag| tag.tag_id}}, {:multiple => true, :id => "tags"}) %>
              
               <% end %>                          
              </p>

              <p>
              <%= d.submit "Update Donor"%>
              </p>
              <% end %> <!--End of form-->
          
        </div>
        </div>
        </div>
        </div>
        </div> <!-- /.row -->
  </div> <!-- /.container -->
<% end %> <!--End of user signed in-->
   

