<h1> Edit Donation </h1>

<table>
<tr>
<th>OrgName</th>
<th> </th>
<th>Amount</th>
<th>RecurringType</th>
<th></th>
</tr>

<% @donor.payments.each do |payment|%>
<tr>
    <td><%= payment.organization.name %><td>
    <td><%= payment.amount %></td>
    <td><%= payment.paymentType %></td>
    <td>
    <%= link_to 'Edit', edit_payment_path(payment)%>
    <%= link_to 'Delete', payment_path(payment), method: :delete%>

   </td>
    </tr>
    <% end %>

</table>
