<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Sidebar Widgets Column -->
    <div class="col-md-8">

      <!-- Login Widget -->
      <div class="card my-4">
        <h5 class="card-header">Profile</h5>
        <div class="card-body">
          <% if user_signed_in? && current_user.donor %>
            <p id="notice"><%= notice %></p>

            <p>
              <strong>Name:</strong>
              <%= @donor.name %>
            </p>

            <p>
              <strong>Address:</strong>
              <%= @donor.address %>
            </p>

            <p>
              <strong>DOB:</strong>
              <%= @donor.dob %>
            </p>

            <% if @donor.tags.any? %>
            <p>
              <strong>Tags:</strong>
              <% @donor.tags.each do |t|%>
                <span class="badge badge-secondary"><%=t.name%></span>
              <% end%>
            </p>
            <% end%>                          
  

          <p>
            <%= link_to 'Edit', edit_donor_path(@donor) %> |
            <%= link_to 'Back', donor_path(@donor) %>
          </p>
          <% end %>
       </div>
      </div>
    </div>
  </div>
</div>