<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h1 class="my-4">Search results</h1>

      <% if @organizations != nil %>
      <% @organizations.each do |organization| %>
      <!-- Blog Post -->
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title"><%= organization.name %></h2>
            <p class="card-text"><%= organization.about %></p>
            <%= link_to 'Organization Profile', org_profile_path(organization), {:class => "btn btn-primary"}%> &rarr;
          </div>
        </div>
      <% end %>
      <% end %>

      <% if @organizations != nil %>
        <div class="digg_pagination" style="width: 50%;margin: 0 auto;">
          <%= will_paginate @organizations %>
        </div>
      <% end %>
      <br>
    </div>

    <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Tags Search</h5>
        <div class="card-body">
          <div class="row">
          <div class="col-lg-12">
              <% if @tags != nil %>
              <ul class="list-unstyled mb-4">
                <% @tags.each do |tag| %>
                  <li>
                    <%= form_tag(search_index_path, :method => "get") do %>
                     <%= link_to tag.name, :controller => "search", :search => tag.name %>
                    <% end %>
                  </li>
                  <li>
                <%end%>
                </ul>
              <%end%>
            </div>
          </div>
        </div>
      </div>
  </div> <!-- /.row -->
</div> <!-- /.container -->