<%= form_for([@bank.organization, @bank]) do |f| %>
  <% if @bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
      <% @bank.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :accountType %><br />
    <%= f.radio_button(:accountType, :personal, checked: true) %> Personal <br />
    <%= f.radio_button(:accountType, :private) %> Private
  </div>
  <div class="field">
    <%= f.label :rountingNumber %><br />
    <%= f.text_field :rountingNumber, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :accoutnNumber %><br />
    <%= f.number_field :accoutnNumber, :class => "form-control" %>
  </div>
  <div class="field">
    <%= f.label :accountName %><br />
    <%= f.text_field :accountName, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
