<% if user_signed_in?  && @organization.user_id == current_user.id %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
     <!-- Sidebar Widgets Column -->
      <div class="card my-4">
        <h5 class="card-header">Edit Bank Account</h5>
        <div class="card-body">
          <div class="input-group">
			<%= render 'form' %>
       </div>
		<%= link_to 'Show', [@bank.organization, @bank] %> |
		<%= link_to 'Back', organization_banks_path(@organization) %>
      </div>
     </div>
    </div>
  </div> <!-- /.row -->
</div> <!-- /.container -->
<% end %>
