<% if user_signed_in?  && @organization.user_id == current_user.id %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
     <!-- Sidebar Widgets Column -->
      <div class="card my-4">
        <h5 class="card-header">Banks Accounts</h5>
        <div class="card-body">
          <div class="input-group">

          <table class="table">
            <tr>
              <th>Account Type</th>
              <th>Routing Number</th>
              <th>Accounting Number</th>
              <th>Account Name</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>

          <% @banks.each do |bank| %>
            <tr>
              <td><%= bank.accountType %></td>
              <td><%= bank.rountingNumber %></td>
              <td><%= bank.accoutnNumber %></td>
              <td><%= bank.accountName %></td>
              <td><%= link_to 'Show', [bank.organization, bank] %></td>
              <td><%= link_to 'Edit', edit_organization_bank_path(bank.organization, bank) %></td>
              <td><%= link_to 'Destroy', [bank.organization, bank], :confirm => 'Are you sure?', :method => :delete %></td>
            </tr>
          <% end %>
          </table>

          <span class="input-group-btn">
          <%= link_to 'Create Bank Account', new_organization_bank_path(@organization), :role=> "button", :class => "btn btn-secondary" %>
          </span>&nbsp;
           <span class="input-group-btn">
          <%= link_to 'Back', org_landing_path(@organization), :role=> "button", :class => "btn btn-secondary" %>
          </span>
       </div>
      </div>
     </div>
    </div>
  </div> <!-- /.row -->
</div> <!-- /.container -->
<% end %>