<% if user_signed_in?  && @organization.user_id == current_user.id %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
     <!-- Sidebar Widgets Column -->
      <div class="card my-4">
        <h5 class="card-header">Account</h5>
        <div class="card-body">
          <div class="input-group">
			<p>
			  <b>Accounttype:</b>
			  <%= @bank.accountType %>
			</p>

			<p>
			  <b>Rountingnumber:</b>
			  <%= @bank.rountingNumber %>
			</p>

			<p>
			  <b>Accoutnnumber:</b>
			  <%= @bank.accoutnNumber %>
			</p>

			<p>
			  <b>Accountname:</b>
			  <%= @bank.accountName %>
			</p>
		</div>
		<%= link_to 'Edit', edit_organization_bank_path(@bank.organization, @bank) %> |
		<%= link_to 'Back', organization_banks_path(@bank.organization) %>
	   </div>
     </div>
    </div>
  </div> <!-- /.row -->
</div> <!-- /.container -->
<% end %>
