<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Sidebar Widgets Column -->
    <div class="col-md-8">

      <!-- Login Widget -->
      <div class="card my-4">
        <h5 class="card-header">Listing notifications</h5>
        <div class="card-body">
          <div class="input-group">

          <table class="table">
            <tr>
              <th>Title</th>
              <th>Content</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>

          <% @notifications.each do |notification| %>
            <tr>
              <td><%= notification.title %></td>
              <td><%= notification.content %></td>
              <td><%= link_to 'Delete', [notification.donor, notification], :confirm => 'Are you sure?', :method => :delete %></td>
            </tr>
          <% end %>
          </table>

          <br />

          <% if current_user and current_user.organization %>
          <%= link_to 'New Notification', new_donor_notification_path(params[:donor_id]) %>
          <%end%>

      </div>
      </div>
   </div>
  </div>
  </div> <!-- /.row -->
</div> <!-- /.container -->