<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Login Widget -->
      <div class="card my-4">
        <h5 class="card-header">News Notification</h5>
        <div class="card-body">
          <% if user_signed_in?  && @organization.user_id == current_user.id %>
          <div class="input-group">
			<%= render 'form' %>
		  </div>
		  <%= link_to 'Back', donor_notifications_path(@notification.donor) %>
		  <%end%>
	    </div>
	 </div>
	</div>
  </div> <!-- /.row -->
</div> <!-- /.container -->