<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @notification.title %>
</p>

<p>
  <b>Content:</b>
  <%= @notification.content %>
</p>


<%= link_to 'Edit', edit_donor_notification_path(@notification.donor, @notification) %> |
<%= link_to 'Back', donor_notifications_path(@notification.donor) %>
