<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Sign up Widget -->
      <div class="card my-4">
        <h5 class="card-header">Forgot your password?</h5>
        <div class="card-body">
          <div class="input-group">

			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="field">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
			  </div>
			  <br />

			  <div class="actions">
			    <%= f.submit "Send me reset password instructions", {:class => "btn btn-primary"} %>
			  </div>
			<% end %>
		</div>
          </div>
        </div> <!-- Sign up widget -->
      </div> <!-- Column -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->