<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Login Widget -->
      <div class="card my-4">
        <h5 class="card-header">Sign In</h5>
        <div class="card-body">
          <div class="input-group">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions input-group-btn">
              <%= f.submit "Log in", {:class => "btn btn-primary"} %>
            </div>
          <% end %>
          </div>
          <%= render "devise/shared/links" %>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Tags Search</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <% if @tags != nil %>
              <ul class="list-unstyled mb-0">
                <% @tags.each do |tag| %>
                  <li>
                     <%= form_tag(search_index_path, :method => "get") do %>
                     <%= link_to tag.name, :controller => "search", :search => tag.name %>
                    <% end %>
                  </li>
                  <li>
                <%end%>
                </ul>
              <%end%>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h1 class="my-4">Organizations</h1>

      <% if @organizations != nil %>
      <% @organizations.each do |organization| %>
      <!-- Blog Post -->
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title"><%= organization.name %></h2>
            <p class="card-text"><%= organization.about %></p>
            <%= link_to 'Organization Profile', org_profile_path(organization), {:class => "btn btn-primary"}%> &rarr;
          </div>
        </div>
      <% end %>
      <% end %>

      <div class="digg_pagination" style="width: 50%;margin: 0 auto;">
      <%= will_paginate @organizations %>
      </div>
    </div>
  </div> <!-- /.row -->
</div> <!-- /.container -->