<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Login Widget -->
      <div class="card my-4">
        <h5 class="card-header">Edit Donation</h5>
        <div class="card-body">
          <div class="input-group">

            <%= form_for @payment, url: {action: "update"} do |p|%>
                <p>
                <%= p.hidden_field :donor_id%>
                Organization:
                <%= p.hidden_field :organization_id%>
                <%= p.collection_select(:organization_id, Organization.order(:name), :id, :name,{},{ class: "form-control", :disabled => "disabled" }) %>
                <br>
                </p>

                <p>
                Donation Type:
                <%= p.radio_button(:paymentType, 'Monthly') %> Monthly
                <%= p.radio_button(:paymentType, 'Bi-Monthly') %> Bi-Monthly<br>
                
                </p>

                <p>
                Amount:
                <%= p.text_field :amount%><br>
                </p>

                <p>
                <%= p.submit "Update Payment"%>
                </p>
                

                <% end %>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>