<%= form_for([@card.donor, @card]) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cardNumber %><br />
    <%= f.number_field :cardNumber %>
  </div>
  <div class="field">
    <%= f.label :cvv %><br />
    <%= f.number_field :cvv %>
  </div>
  <div class="field">
    <%= f.label :expiryMonth %><br />
    <%= f.number_field :expiryMonth %>
  </div>
  <div class="field">
    <%= f.label :expiryYear %><br />
    <%= f.number_field :expiryYear %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
