<% if user_signed_in?  && @donor.user_id == current_user.id %>
<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Sidebar Widgets Column -->
    <div class="col-md-12">

      <!-- Login Widget -->
      <div class="card my-4">
        <h5 class="card-header">Saved cards</h5>
        <div class="card-body">
          <div class="input-group">

          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cardnumber</th>
              <th scope="col">Cvv</th>
              <th scope="col">Expirymonth</th>
              <th scope="col">Expiryyear</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
            </thead>

          <tbody>
            <% i = 1%>
            <% @cards.each do |card| %>
              <tr>
                <th scope="row"><%= i %></th>
                <td><%= card.cardNumber %></td>
                <td><%= card.cvv %></td>
                <td><%= card.expiryMonth %></td>
                <td><%= card.expiryYear %></td>
                <td><%= link_to 'Edit', edit_donor_card_path(card.donor, card) %></td>
                <td><%= link_to 'Destroy', [card.donor, card], :confirm => 'Are you sure?', :method => :delete %></td>
                <%i = i + 1%>
              </tr>
            <% end %>
            </tbody>
          </table>
          <%= link_to 'New Card', new_donor_card_path(params[:donor_id]) %>
</div>
</div>
</div>
</div>
</div>
</div>
<% end %>
