<% if user_signed_in?  && @donor.user_id == current_user.id %>

<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Login Widget -->
      <div class="card my-4">
        <h5 class="card-header">New Card</h5>
        <div class="card-body">
          <div class="input-group">
			<%= render 'form' %>
	      </div>
	      <%= link_to 'Back', donor_cards_path(@card.donor) %>
	   </div>
	 </div>
   </div>
  </div>
</div>

<% end %>