<% if user_signed_in?  && @donor.user_id == current_user.id %>


<p id="notice"><%= notice %></p>

<p>
  <b>Cardnumber:</b>
  <%= @card.cardNumber %>
</p>

<p>
  <b>Cvv:</b>
  <%= @card.cvv %>
</p>

<p>
  <b>Expirymonth:</b>
  <%= @card.expiryMonth %>
</p>

<p>
  <b>Expiryyear:</b>
  <%= @card.expiryYear %>
</p>


<%= link_to 'Edit', edit_donor_card_path(@card.donor, @card) %> |
<%= link_to 'Back', donor_cards_path(@card.donor) %>


<% end %>