<%= form_for([@newspost.organization, @newspost]) do |f| %>
  <% if @newspost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newspost.errors.count, "error") %> prohibited this newspost from being saved:</h2>

      <ul>
      <% @newspost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
