



<h3><%= link_to 'New Newspost', new_organization_newspost_path(params[:organization_id]) %></h3>
<br>

<h2>Listing newsposts</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @newsposts.each do |newspost| %>
  <tr>
    <td><%= newspost.title %></td>
    <td><%= newspost.content %></td>
    <% if newspost.image? %>
    <td><%= image_tag newspost.image.thumb.url %></td>
    <%end%>
    <td><%= link_to 'Show', [newspost.organization, newspost] %></td>
    <td><%= link_to 'Edit', edit_organization_newspost_path(newspost.organization, newspost) %></td>
    <td><%= link_to 'Destroy', [newspost.organization, newspost], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />



