<h1></h1>
<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Login Widget -->
      <div class="card my-4">
        <h5 class="card-header">New newspost</h5>
        <div class="card-body">
          <div class="input-group">
			<%= render 'form' %>

			<%= link_to 'Back', org_landing_path(@newspost.organization) %>
		  </div>
	    </div>
	 </div>
	</div>
  </div> <!-- /.row -->
</div> <!-- /.container -->