<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Sidebar Widgets Column -->
    <div class="col-md-8">

      <!-- Login Widget -->
      <div class="card my-4">
        <h5 class="card-header">NewsPost</h5>
        <div class="card-body">
          <div class="input-group">

			<p id="notice"><%= notice %></p>

			<p>
			  <b>Title:</b>
			  <%= @newspost.title %>
			</p>

			<p>
			  <b>Content:</b>
			  <%= @newspost.content %>
			</p>

			<p>
			  <% if @newspost.image? %>
			  <b>Image:</b>
			    <%= image_tag @newspost.image.thumb.url %>
			  <% end %>
			</p>

			<% if user_signed_in?  && @organization.user_id == current_user.id %>
			<%= link_to 'Edit', edit_organization_newspost_path(@newspost.organization, @newspost) %> |
			<%= link_to 'Back', org_landing_path(@newspost.organization) %>
			<% end %>

		  </div>
	    </div>
	 </div>
	</div>
  </div> <!-- /.row -->
</div> <!-- /.container -->