<%= form_with(model: organization, local: true) do |form| %>
  <% if user_signed_in? %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :organization_name, :class => "form-control"%>
  </div>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner, id: :organization_owner, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :organization_website, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :organization_address, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :organization_year, :class => "form-control", :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_field :about, id: :organization_about, :class => "form-control" %>
  </div>

  <p>
  <% if @selected_tags != nil %>
  
  <%= fields_for (@organization_tag) do |ot|%>
    <div class="field">
    <%= ot.label "Tags:" %><br>
  <%= collection_select(:tags, :id, @all_tags, :id, :name, {:selected => @selected_tags.collect {|tag| tag.tag_id}}, {:multiple => true, :id => "tags"}) %>
  </div>
  <% end %>
  
  <% else%>
  <%= fields_for (@organization_tag) do |ot|%>
    <div class="field">
    <%= ot.label "Tags:" %>&nbsp <span>(multiple select using Ctrl+click) </span><br>
  <%= collection_select(:tags, :id, @all_tags, :id, :name, {}, {:multiple => true, :id => "tags"}) %>
  </div>
  
  <% end %> 
 
  <% end %><!--End Of organization_tags-->    
  </p>        

  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %> <!--End of user signed in-->
<% end %> <!--End of form-->
