<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Login Widget -->
      <div class="card my-4">
        <h5 class="card-header">Edit Profile</h5>
        <div class="card-body">
          <% if user_signed_in? && @organization.user_id == current_user.id %>
            <div class="input-group">
              <p id="notice"><%= notice %></p>
			  <%= render 'form', organization: @organization %>
		    </div>
		    <%= link_to 'Show', @organization %> |
			<%= link_to 'Back', org_landing_path(@organization) %>
		  <%end%>
       </div>
      </div>
    </div>
  </div>
</div>