<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Website</th>
      <th>Address</th>
      <th>Year</th>
      <th>About</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.owner %></td>
        <td><%= organization.website %></td>
        <td><%= organization.address %></td>
        <td><%= organization.year %></td>
        <td><%= organization.about %></td>
        <td><%= link_to 'Show', organization %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
