<% if user_signed_in?  && @organization.user_id == current_user.id %>
<div class="container">
  <div class="row">
  	<div class="col-md-12">
  	 <!-- Sidebar Widgets Column -->
      <div class="card my-4">
        <h5 class="card-header">Welcome, <%= @organization.name %></h5>
        <div class="card-body">
          <div class="input-group">
			<table class="table">

			<h2>Recent NewsPosts</h2>

			<table class="table">
				<thead>
					<tr>
					<th scope="col">#</th>
					<th scope="col">NewsPost</th>
					<th scope="col">Edit</th>
					<th scope="col">Delete</th>
					</tr>
				</thead>

				<tbody>
                <% i = 1%>
                	<tr>
					<% @organization.newsposts.each do |newspost| %>
					<th scope="row"><%= i %></th>
					<% var = newspost.title %>
					<td><%= link_to var, [@organization, newspost] %></td>
					<td><%= link_to 'Edit', edit_organization_newspost_path(@organization, newspost) %></td>
					<td><%= link_to 'Destroy', [@organization, newspost], :confirm => 'Are you sure?', :method => :delete %> </td>
					</tr>
				<% end %>
				</tbody>
			</table>

			<h2>Current Donations</h2>

			<table class="table">
				<thead>
					<tr>
					<th scope="col">#</th>
					<th scope="col">Donor</th>
					<th scope="col">Amount</th>
					</tr>
				</thead>

				<tbody>
	                <% i = 1%>
					<% @organization.payments.each do |payment|%>
					<tr>
					 <th scope="row"><%= i %></th>
					 <td><%= payment.donor.name %></td>
					 <td> <%= payment.amount %> $ </td>
					</tr>
					<%i = i+1%>
					<% end %>
					<tr>
						<td></td>
						<td>Total Amount</td>
						<td>$ <%= @organization.payments.sum(:amount) %></td>
					</tr>
				</tbody>
			</table>
		  </div>
	    </div>
      </div>
    </div>
  </div>
</div>

<% end %>