<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Login Widget -->
      <div class="card my-4">
        <h5 class="card-header">Create profile</h5>
        <div class="card-body">
          <div class="input-group">
			<%= render 'form', organization: @organization %>
		  </div>
	    </div>
      </div>
    </div>
  </div>
</div>
