<div class="container">
  <div class="row">
    <div class="col-md-8">
     <!-- Sidebar Widgets Column -->
      <div class="card my-8">
        <%if current_user != nil and current_user.organization?%>
        <h5 class="card-header">Welcome, <%= @organization.name %></h5>
        <%end%>
        <div class="card-body">
          <h1>
            Organization Name: <%= @organization.name %>
            <% if (user_signed_in? && current_user.donor?) %>
            <!--Not sure if this should be accessible to non-signed in user so that we redirect him to first sign in?-->
            <%= link_to 'Donate Now', new_payment_path(@organization,current_user.donor), :class => "btn btn-primary" %>
            <% end %>
          </h1>

          <p>
            <strong>Owner:</strong>
            <%= @organization.owner %>
          </p>

          <p>
            <strong>Website:</strong>
            <%= @organization.website %>
          </p>

          <p>
            <strong>Address:</strong>
            <%= @organization.address %>
          </p>

          <p>
            <strong>Year:</strong>
            <%= @organization.year %>
          </p>

          <p>
            <strong>About:</strong>
            <%= @organization.about %>
          </p>

          <p>
          <strong>Tags:</strong>
          <% @organization.tags.each do |t|%>
            <span class="badge badge-secondary"><%=t.name%></span>
          <% end%>
         </p>                          


          <h2>Recent News Posts</h2>
          
          <table class="table">
            <thead>
              <tr>
              <th scope="col">#</th>
              <th scope="col">News Post</th>
              </tr>
            </thead>
            <tbody>
              <% i = 1%>
              <% @organization.newsposts.each do |newspost| %>
              <tr>
                <td><%= i%></td>
                <% var = newspost.title %> 
                <td><%= link_to var, [@organization, newspost] %></td>
              </tr>
              <%i = i+1%>
              <% end %>
            </tbody>

          </table>
       </div>
      </div>
    </div>
  </div>
</div>
