<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Sidebar Widgets Column -->
    <div class="col-md-8">

      <!-- Login Widget -->
      <div class="card my-4">
        <h5 class="card-header">Profile</h5>
        <div class="card-body">
          <% if user_signed_in? && @organization.user_id == current_user.id %>
            <p id="notice"><%= notice %></p>

            <p>
              <strong>Name:</strong>
              <%= @organization.name %>
            </p>

            <p>
              <strong>Owner Name:</strong>
              <%= @organization.owner %>
            </p>

            <p>
              <strong>Website:</strong>
              <%= @organization.website %>
            </p>

            <p>
              <strong>Address:</strong>
              <%= @organization.address %>
            </p>

            <p>
              <strong>Year:</strong>
              <%= @organization.year %>
            </p>

            <p>
              <strong>About:</strong>
              <%= @organization.about %>
            </p>
            <% if @organization.tags != nil%>
            <p>
              <strong>Tags:</strong>
              <% @organization.tags.each do |t|%>
                <span class="badge badge-secondary"><%=t.name%></span>
              <% end%>
            </p>
            <% end%>                          
  

          <p>
            <%= link_to 'Edit', edit_organization_path(@organization) %> |
            <%= link_to 'Back', org_landing_path(@organization) %>
          </p>
          <% end %>
       </div>
      </div>
    </div>
  </div>
</div>
